body {
    font-family: Arial, sans-serif;
    margin-left: 10;
    padding: 0;
    box-sizing: border-box;
}

.welcome-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97c1a9;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 2.5em;
    font-weight: bold;
}

.bottom-left {
    margin-left: 30px;
}

/* Add this CSS to your style.css file */

.profile-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}



.search-bar {
    position: relative;
    top: 40vh;
}

.filter-section {

    position: relative;
    top: 45vh;
    padding: 20px;
    background-color: #cce2cb;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-section label {
    font-size: 18px;

}

.filter-section div {
    margin: 10px 0;
}

.map-section {
    margin-left: 700px;
    margin-top: 20px;
    bottom: 0;
    right: 20px;
    height: 40vh;
    width: 40%;
}

#map {
    width: 100%;
    height: 100%;
    border: 10px;
}


.navbar ul {
    list-style-type: none;
    background-color: rgba(156, 216, 139, 0.85);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; /* Adjusts spacing between items */
    align-items: center;
    width: 100%;
    height: 100%; /* Ensure the navbar covers the full height */
}


.navbar ul {
    list-style-type: none;
    background-color: rgba(156, 216, 139, 0.85);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar li {
    margin: 0;
    padding: 0;
    height: 75px;
    display: flex;
}
.navbar {
    color: white;
    text-decoration: none;
    padding: 0;
    height: 75px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.navbar:hover {
    background-color: rgba(156, 216, 139, 1);
}

.navbar li {
    align-items: center;
}

.navbar li a {
    display: block;
    padding: 25px 20px; /* Ensures the clickable area is sufficient */
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.navbar li a:hover {

    background-color: rgba(120, 180, 110, 0.9); /* Consistent hover effect */
    color: #fff; /* Ensures text remains visible on hover */
}


.navbar ul{
    list-style-type: none;
    background-color: rgba(156, 216, 139, 0.85);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
